@font-face {
  font-family: 'Impact Local';
  src: url('../assets/fonts/impact.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Geologica;
  src: url('../assets/fonts/Geologica-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Geologica;
  src: url('../assets/fonts/Geologica-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Alumni Sans Local';
  src: url('../assets/fonts/AlumniSans-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
